// @Author: Enzo Avagliano <EloxFire>
// @Date:   2021-01-27T21:40:17+01:00
// @Email:  enzo.avagliano@ynov.com
// @Project: TP Data visualizer - B3
// @Last modified by:   EloxFire
// @Last modified time: 2021-03-09T13:58:16+01:00
// @Copyright: Enzo Avagliano



@font-face {
  font-family: "Noir Bold";
  src: url('../fonts/Noir_medium.woff');
}

@font-face {
  font-family: "Noir";
  src: url('../fonts/Noir_regular.woff');
}

$black:#121212;
$white: #FCFCFC;
$grey: #171717;
$purple: #9146FF;

*{
  margin: 0;
  padding: 0;
  font-family: "Noir" !important;
}

h1, h2, h3, h4, h5, h6, p, span{
  margin: 0 !important;
  padding: 0 !important;
}

input{
  background-color: rgba($white, 0.1) !important;
  border: none !important;
  outline: none !important;
  color: $white !important;

  &:focus{
    color: $white !important;
    box-shadow: none !important;
  }
  &::placeholder{
    font-weight: bold;
    color: $purple !important;
  }
}

.white{
  color: $white;
}

.title{
  font-family: 'Noir Bold' !important;
  font-size: 2.5em;
  // text-transform: uppercase;
}

.themed{
  color: $purple !important;
}

.inverted-themed{
  color: $white !important;
  background-color: $purple !important;
}

.pagination-active{
  background-color: #432b67 !important;
}

.dash-tab{
  border-radius: 5px;
  background-color: rgba($white, .1);
}

.modal{
  color: $black;

  .modal-body{
    max-height: 60vh;
    overflow: auto;
  }

  input{
    border: 1px solid $purple !important;
    color: $black !important;

    &::placeholder{
      color: $black !important;
    }
  }
}

th, td{
  padding: 8px !important;
  color: $white;
  font-size: .8em;
  height: 65px;
}

.data-row{
  &:hover{
    background-color: rgba($black, .5);
  }
}

#dashboard, #graph, #search, #filter, #map{
  height: 100vh;
  background-color: $grey;
  color: $white;

  .scrolling{
    height: 100vh;
    // width: 20vw !important;
    overflow: auto;
  }
  .graph-pane{
    height: 40vh;
  }

  .main-tab-filter{
    height: 80vh;
  }

  .map-container{
    height: 80vh;
  }
}

#graph{

  .green{
    background-color: rgb(20, 214, 82);
  }
}

@media screen and(max-width:992px) {

  #dashboard, #graph, #filter{
    height: 100vh;
    background-color: $grey;
    color: $white;

    .graph-pane{
      height: 40vh;
    }
  }
}
