@import "main.scss";

.navigation{
  border-right: 3px solid rgba($white, 0.2);

  .nav-link{
    color: $white;
    font-size: 1.5em;
    transition: .3s;
    border-radius: 5px;

    &:hover{
      background-color: rgba($purple, .2);
    }
  }

  .active{
    background-color: rgba($purple, .2);
  }

  .nav-header{
    height: 20%;
  }
  .nav-content{
    height: 100%;
    // background-color: rgb(142, 112, 194);

    .nav-body{
      height: 80%;
    }
    .nav-footer{
      height: 20%;
    }
  }
}

@media screen and (max-width:992px) {
  .navigation{
    border-bottom: 3px solid rgba($white, .5);
    height: auto !important;
    // overflow: auto;
    // background-color: rgb(142, 112, 194);

    .nav-link{
      font-size: 1.2em !important;
    }
  }
}
